{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ quarto.nome }} — StayHub</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- COPIEM OS DOIS LINKS NO DE VCS, O SEGUNDO E OS NEGOCIOS DO FOOTER) -->
  </head>




  <body>

    <!-- NEGOCIO DO HEADER (COPIAR NO DE VCS) -->
    <header>
      <img class="logo" src="{% static 'core/img/LOGO.png' %}" />
      <nav class="esquerda">
        <ul>
          <li><a href="{% url 'home' %}">HOME</a></li>
          <li><a href="#">QUARTOS</a></li>
          <li><a href="{% url 'contato' %}">CONTATO</a></li>
        </ul>
      </nav>
      <nav class="direita">
        <a class="login" href="#" id="btnLogin">LOGIN</a>
        <a class="criar" href="#" id="btnCadastro">CADASTRO</a>
      </nav>
    </header>
<!-- NEGOCIO HEADER FIM (COPIAR NO DE VCS) -->


<!-- POPUP CADASTRO (COPIAR NO DE VCS) -->
    <div class="popup-overlay" id="popupoverlay">
      <div class="modal-content">
        <button class="popupX" id="popupX">&times;</button>
        <h2 class="popup-titulo">CRIE SUA CONTA</h2>
        <form class="popup-form">
          <div class="popup-grupo">
            <label for="nome">seu nome</label>
            <input type="text" id="nome" name="nome" required />
          </div>
          <div class="popup-grupo">
            <label for="email">seu email</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="popup-grupo">
            <label for="senha">sua senha</label>
            <input type="password" id="senha" name="senha" required />
          </div>
          <button type="submit" class="registrar">REGISTRAR</button>
        </form>
      </div>
    </div>
<!-- POPUP CADASTRO FIM (COPIAR NO DE VCS) -->


<!-- POPUP LOGIN (COPIAR NO DE VCS) -->
    <div class="popup-overlay" id="popupoverlay-login">
      <div class="modal-content">
        <button class="popupX" id="popupX-login">&times;</button>
        <h2 class="popup-titulo">ENTRE NA SUA CONTA</h2>
        <form class="popup-form">
          <div class="popup-grupo">
            <label for="email">seu email</label>
            <input type="email" id="emailLogin" name="email" required />
          </div>
          <div class="popup-grupo">
            <label for="senha">sua senha</label>
            <input type="password" id="senhaLogin" name="senha" required />
          </div>
          <button type="submit" class="registrar">ENTRAR</button>
        </form>
      </div>
    </div>
<!-- POPUP LOGIN FIM (COPIAR NO DE VCS) -->




<!-- ONDE ESTA TODA A INFO NAO COPIARRR -->

    <main id="tudoDoQuarto">
      <div class="detalheQuarto" >
        
        <div id="fileira1QuartoDetalhe">
          <p class=detalheVoltar> <a class=detalheVoltar href="{% url 'home' %}"><i class="fa-solid fa-arrow-left"></i></a></p>
          <h4 id="tituloQuartoDetalhe">{{ quarto.nome }}</h4>
        </div>
        
        <div id="quartoDetalheIMG" style="background-image: url('{{ quarto.imagem_url }}'); ">
        </div>

          {% if quarto.descricao %}
          <h1 class="descricaoDetalhe">{{ quarto.descricao }}</h1>

          {% else %}
            <h1 class="descricaoDetalhe"> Descrição não disponível.</h1>
          {% endif %} 

    </main>

  <section id="AnfitriaoTudo">

      <div id="anfitriaoContainer">
        <img id="bolaAnfitriao" src="{% static 'core/img/Anfitriao.png' %}">
        <div id="textoAnfitriao">
        <h4>Anfitri@: Doutor Casa</h4>
        <p>Superhot - 6 anos hospedando</p>
      </div>
    </div>

  <div id="linhaDetalhes"></div>
  <div id="InfoEsteticaDetalhes"></div>

</section>


<!-- ONDE ESTA TODA A INFO FINAL NAO COPIARRR -->




<!-- FOOTER (COPIAR NO DE VCS) -->
    <footer>
      <div id="footerDireito" class="osDoisLadosFooter"><img class="logofooter" src="{% static 'core/img/LOGO.png' %}" />
    </div>
    
    <div id="footerIzquerda" class="osDoisLadosFooter">  
      <h3 id="titulocontato" class="coisascontatos">ENTRE EM CONTATO CONOSCO</h3>

      <div class="contatoItem">
        <i class="fa-solid fa-envelope"></i> 
        <p id="emailcontato" class="coisascontatos">stayhub@gmail.com</p>
      </div>
      
      <div class="contatoItem">
        <i class="fa-solid fa-phone"></i>
        <p id="numerocontato" class="coisascontatos">(81) 9555-5555</p>
      </div>

      <div class="contatoItem">
        <i class="fa-brands fa-instagram"></i>
        <p id="igcontato" class="coisascontatos">@stayhub</p>
      </div>
  </div>
    </footer>
<!-- FOOTER FIM (COPIAR NO DE VCS) -->

<!-- O SCRIPT DOS NEGOCIOS DO POPUP ESTAO AQUI (COPIAR NO DE VCS) -->
  <script src="{% static 'core/script.js' %}"></script>
  </body>
</html>
